@model EmployeeManageViewModel
<h2>Manage Personnel</h2>
<div class="container-fluid">
    <h3>Active Employees</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee e in Model.ActiveEmployees)
            {
            <tr>
                <td>@e.FirstName @e.LastName</td>
                <td>@e.Nickname</td>
                <td>Gogglins deep</td>
            </tr>
            }
        </tbody>
    </table>
    <h3>Inactive Employees</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Nickname</th>
                <th>Deactivated On</th>
                <th>Reinstate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Employee e in Model.InactiveEmployees)
            {
            <tr>
                <td>@e.FirstName @e.LastName</td>
                <td>@e.Nickname</td>
                <td>@e.DeactivateDate</td>
                <td>@e.EmployeeId</td>
            </tr>
            }
        </tbody>
    </table>
</div>