@model List<Invoice>
<table class="table" data-filtering="true" data-sorting="true" data-paging="true" data-editing="true" data-editing-always-show="true" data-paging-widget="true" data-paging-widget-count-format="Total Pending Onsite: {TR}" data-filter-placeholder="Search Invoices">
    <thead>
        <tr>
            <th data-visible="false" data-name="invoiceId">Invoice Id</th>
            <th data-name="invoiceNo">Invoice #</th>
            <th data-type="number" data-name="numOfParts"># of Parts</th>
            <th class="hideLocation" data-name="pickLocation">Pick Location</th>

            <th class="hideAssigned" data-visible="true" data-name="assignedEmployee">Employee</th>
            <th>Created On</th>
            <th data-type="date" data-name="assignedOn" data-visible="false">Assigned On</th>
            <th data-sort-value="mySortValue" data-type="number" data-name="elapsedTime" data-sorted="true" data-direction="ASC">Elapsed Pull Time</th>
            <th data-visible="false">Status</th>

        </tr>
    </thead>
    <tbody>

        @{
            DateTime dotNetTicks;
            double jsTimestamp;
            //check if currently in daylight savings to modify display
            DateTime currentDate = DateTime.Now;
            TimeZoneInfo tzi = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");
            bool isCurrentlyDaylightSavings = tzi.IsDaylightSavingTime(currentDate);
        }

        @foreach (var x in Model)
        {
            <tr>
                <td class="invoiceid">@x.InvoiceId</td>
                <td>@x.InvoiceNumber</td>

                <td>@x.NumberOfParts</td>
                <td><span style="font-weight:bold; text-decoration:underline;">@x.PickLocation.LocationDescription.Substring(0, 1)</span>@x.PickLocation.LocationDescription.Substring(1, x.PickLocation.LocationDescription.Length - 1) </td>
                
                @*<td>@if (x.AssignedEmployeeId == null){<button id="@("assign" + x.InvoiceId)" onclick="getEmpDDL($(this))" type="button" class="btn btn-default btn-sm">Assign Employee <span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>}else{<text>@x.AssignedEmployee.FirstName @x.AssignedEmployee.LastName</text>}</td>*@
                <td>@if (x.AssignedEmployeeId == null){<span class="empDDL input-group input-group-sm">Loading JavaScript...</span>}else{<text>@x.AssignedEmployee.Nickname</text>}</td>
                <td>@x.StartDate</td>
                <td>@x.AssignedDate</td>
                @if(x.AssignedDate.HasValue){
                    dotNetTicks = new DateTime(x.AssignedDate.Value.Year, x.AssignedDate.Value.Month, x.AssignedDate.Value.Day, x.AssignedDate.Value.Hour, x.AssignedDate.Value.Minute, x.AssignedDate.Value.Second);

                    jsTimestamp = (dotNetTicks.AddHours(8).Subtract(new DateTime(1970, 1, 1))).TotalMilliseconds;
                    if (isCurrentlyDaylightSavings)
                    {
                        jsTimestamp = (dotNetTicks.AddHours(7).Subtract(new DateTime(1970, 1, 1))).TotalMilliseconds;
                    }
                    //unixTimestamp = unixTimestamp * 1000;
                    <td class="timerCell">@jsTimestamp</td>
                }
                else{
                    <td class="setTimer"></td>
                }
                <td>@x.Status.Status</td>

            </tr>

        }
    </tbody>
</table>
