@model DashboardViewModel
<h2>Add New Pick Ticket:</h2>
<strong><span class="text-success">@TempData["Message"]</span></strong>
<form class="form-horizontal" asp-controller="Dashboard" asp-action="" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="NewInvoice.InvoiceNumber">Invoice Number <span class="glyphicon glyphicon-qrcode"></span></label>
        <div class="col-md-2">
            <input asp-for="NewInvoice.InvoiceNumber" class="form-control" />
        </div>
        <label class="col-md-2 control-label" asp-for="NewInvoice.NumberOfParts">No. of Parts</label>
        <div class="col-md-1">
            <input asp-for="NewInvoice.NumberOfParts" class="form-control" min="1" max="99" />
        </div>
        <label class="col-md-2 control-label" asp-for="NewInvoice.PickLocationId"></label>
        <div class="col-md-3">
            <select asp-for="NewInvoice.PickLocationId" asp-items="@(new SelectList(Model.PickLocations, "LocationId", "LocationDescription"))" class="form-control">
                <option value="">-- Select pick location --</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" asp-for="NewInvoice.AssignedEmployeeId"></label>
        <div class="col-md-3">
            <select asp-for="NewInvoice.AssignedEmployeeId" asp-items="@Model.Employees" class="form-control">
                <option value="">-- Please assign an employee --</option>
            </select>
        </div>
    </div>
    <input asp-for="NewInvoice.StatusId" type="hidden" value="1" />
    <input type="submit" class="btn btn-primary" value="Add" />
</form>

@Html.Partial("_InvoiceList", Model.ListOfInvoicesOnsite)
@Html.Partial("_InvoiceList", Model.ListOfInvoicesOffsite)

@section Scripts {
    <script>
        jQuery(function ($) {
            $('.table').footable();
        });
        $('.table').last().data("paging-widget-count-format", "Total Pending Offsite: {TR}");
        $('.showHide').last().data("visible", false);

        $(document).ready(function () {
            $(".aa").TimeCircles({
                time: {
                    Days: { show: false },
                    Hours: {},
                    Minutes: {},
                    Seconds: {}
                }
            });
        });

    </script>
}
