@model StatsViewModel

@if (Model.TotalInvoices == 0)
{
    <h4>No stats available for today.</h4>
}
else
{
<div><strong>Total Invoices: </strong>@Model.TotalInvoices</div>
<div><strong>Total Parts Pulled: </strong>@Model.TotalParts</div>
<table class="table" id="statsTableUpdate" data-sorting="true" data-paging="true">
    <thead>
        <tr>
            <th>Employee</th>
            <th data-type="number">Total Invoices</th>
            <th data-type="number"># of Parts Pulled</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var e in Model.EmployeeStats)
        {
            <tr>
                <td>@e.Nickname</td>
                <td>@e.TotalInvoices</td>
                <td>@e.TotalParts</td>
            </tr>

        }
    </tbody>
</table>
}